main {
    display: flex;
    justify-content: center;
}

#login-form,
#signup-form,
#add-username-form {
    margin-top: 8rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
}

#signup-form input[name="username"],
#signup-form input[name="password2"] {
    margin-bottom: 0;
}

input[type="submit"] {
    border-radius: 10%;
}

.text-center {
    text-align: center;
}

.warning {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: red;
}

.error {
    margin-bottom: 0;
    color: red;
}

.hidden {
    visibility: hidden;
}

#google-button {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.errorlist {
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
}

.errorlist li {
    list-style-type: none;
    font-size: 0.8rem;
    margin-bottom: 0;
    color: red;
}

#code-input {
    width: 6rem;
}