main {
    display: flex;
    justify-content: center;
}

.login-form,
.signup-form {
    margin-top: 8rem;
    width: 25rem;
}

input[type="submit"] {
    border-radius: 10%;
}

.text-center {
    text-align: center;
}