{% extends "main/base.html" %}

{% block page_name %}Add username{% endblock %}

{% block content %}
    <div id="add-username-form">
        <h5 class="text-center">Add username</h5>
        <form action="" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p class="text-center error">{{ error_message }}</p>
            {% endif %}
            {{ form.username.label_tag }}
            {{ form.username.errors }}
            {{ form.username }}
            <p id="username-existence-warning" class="text-center warning hidden">
                This username is already taken
            </p>
            {{ form.email.label_tag }}
            {{ form.email.errors }}
            {{ form.email }}
            <input class="success button" type="submit" value="Add username">
        </form>
    </div>
{% endblock %}