{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socialize | {% block page_name %}Home{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
    </head>
    <body>
        {% include "main/base_header.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>