<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socialize</title>
    </head>
    <body>
        <form action="{% url 'main:login' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" value="{{username}}" required autofocus>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Log in">
        </form>
    </body>
</html>

