{% extends "main/base.html" %}

{% block page_name %}Login{% endblock %}

{% block content %}
    <div id="login-form">
        <h5 class="text-center">Log in</h5>
        <form action="" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            {{ form.as_p }}
            <input class="success button" type="submit" value="Log in">
        </form>
        <a href="{% url 'oauth:google' %}" id="google-button" class="button secondary">Log in with Google</a>
        <p class="text-center">Not registered yet? <a href="{% url 'main:signup' %}"> Sign up</a>
    </div>
{% endblock %}