{% extends "main/base.html" %}

{% block page_name %}Signup{% endblock %}

{% block content %}
    <div id="signup-form">
        <h5 class="text-center">Sign up</h5>
        <form action="{% url 'main:signup' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p class="text-center error">{{ error_message }}</p>
            {% endif %}
            <label>
                Username: 
                <input type="text" name="username" value="{{username}}" required autofocus>
            </label>
            <p id="username-existence-warning" class="text-center warning hidden">
                This username is already taken
            </p>
            <label>
                Password: 
                <input type="password" name="password1" required>
            </label>
            <label>
                Confirm password: 
                <input type="password" name="password2" required>
            </label>
            <p id="passwords-dont-match-warning" class="text-center warning hidden">
                Your passwords should match
            </p>
            <input class="success button" type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}