{% extends "main/base.html" %}

{% block page_name %}Signup{% endblock %}

{% block content %}
    <div class="signup-form">
        <h5 class="text-center">Sign up</h5>
        <form action="{% url 'main:signup' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" value="{{username}}" required autofocus>
            <label for="password1">Password: </label>
            <input type="password" id="password1" name="password1" required>
            <label for="password2">Confirm password: </label>
            <input type="password" id="password2" name="password2" required>
            <input class="success button" type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}